<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1> Contoso A/B Sorting International </h1>
        <div align = "Center">
            {{ bar_chart.render(is_unicode=True)|safe }}
        </div>
        <table style="width:100%">
			<tr><th>Type</th><th>Count</th></tr>
			<tr><td align="center">Apples!</td><td align="center"> {{ aiconf.confidence }} </td></tr>
			<tr><td align="center">Apples?</td><td align="center"> {{ aiconf.confidence }} </td></tr>
			<tr><td align="center">!Apples</td><td align="center"> {{ aiconf.confidence }} </td></tr>
		</table>
    </body>
</html>